#con_form li {
list-style: none;
margin-bottom: 5px;
}

#con_form ul li label{
float: left;
clear: left;
width: 100px;
text-align: right;
margin-right: 10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
}

#con_form ul li {
float: left;
margin-bottom: 10px;
}

#con_form textarea {
float: left;
width: 350px;
height: 150px;
}


[type="submit"] {
clear: left;
margin: 20px 0 0 230px;
font-size:18px
}


